.navigation {
	background-image: url("../img/Navigation/nav-bar.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
				
}			

.navigation a {
	float: right;
	display: block;

	background-image: url("../img/Navigation/nav-bar-button.jpg");
	background-size: 90% 70%;
	background-repeat: no-repeat;
	background-position: center;

	text-align: center;
	text-decoration: none;
	padding: 10px 15px;
			
}
			
.navigation a:active {
	background-image: url("../img/Navigation/nav-bar-button-depressed.jpg");
				
}
		
.navigation a:hover {
	opacity: 0.7;
				
				
}

.div-nav-space {
	height: 45px;
	width: 100vw;
}


.div-header {
	background-image: url("../img/map.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
}		

.div-page {
	
	background-size: cover;
	background-repeat: no-repeat;
	background-color: white;
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
}

.div-separator {
	
	height: 50px;
	width: 100%;
	padding: 0;
}

	
.page-texas {
	background-image: url("../img/texas.jpg");
}

.page-germany-nauheim {
	background-image: url("../img/germany-nauheim.jpg");
}

.page-germany-hutschenhausen {
	background-image: url("../img/germany-hutschenhausen.jpg");
}

.page-florida {
	background-image: url("../img/florida.jpg");
}

.page-colorado {
	background-image: url("../img/colorado.jpg");
}

.page-wyoming {
	background-image: url("../img/wyoming.jpg");
}

.page-indiana {
	background-image: url("../img/indiana.jpg");
}
			

.button1 {
	color: #fff;
	text-shadow: -2px 2px #346392;
	background-color: #64a7ff;
	background-image: linear-gradient(top, #6496c8, #346392);
	box-shadow: inset 0 0 0 1px #27496d;
	border: none;
	border-radius: 15px;
}
			

.button1:hover {
	box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
	
}

.button:active {
	box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}

.button2 {
	background-image: url("../img/Picture1.jpg");
}

			
div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	background-color: white;
	width: 180px;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 5px;
	text-align: center;
}

.gallery-parent {
	position: relative;
	height: 475px;
}

.gallery-container {
	position: absolute;
	bottom: 0;
}

.page-heading {
	background-image: url("../img/glass-window.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.game-container {
	background-image: url("../img/glass-window.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}